@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap');

:root {
  --primaryColor: #06202A;
    --colorWhite: #ffffff;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

html,
body {
    overflow-x: hidden;
    background-color: var(--primaryColor);
}


.container{
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;
}