.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primaryColor);
    z-index: 500;
}

.header > div > div {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
}

.navbar {
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
}

.icon {
    width: 25px;
    transition: 0.3s ease;
}

.headerItem {
    text-align: center;
    color: var(--colorWhite);
    padding-right: 20px;
}

.headerItem p {
    font-size: 14px;
    opacity: 0;
    transition: 0.3s ease;
    padding-top: 2px;
}

.headerItem:hover p {
    opacity: 1;
}

.headerItem:hover .icon {
    transform: scale(1.1);
}

.navbar .active {
    text-align: center;
    color: var(--colorWhite);
    padding-right: 20px;
}

.navbar .active .icon {
    transform: scale(1.1);
}

.navbar .active p {
    font-size: 14px;
    padding-top: 2px;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger .line {
    width: 23px;
    height: 3px;
    background-color: var(--colorWhite);
    margin: 5px 0;
}

.closeNav {
    display: none;
    cursor: pointer;
    position: absolute;
    top: 20px;
    right: 20px;
}

.closeNav svg {
    color: white;
}

.logo {
    width: 120px
}

.nav {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbarLinks {
    color: var(--colorWhite);
    font-size: 20px;
    cursor: pointer;
    padding-right: 20px;
}

@media screen and (max-width: 990px) {
    .nav {
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .nav::-webkit-scrollbar {
        height: 1px;
    }

    /* Track */
    .nav::-webkit-scrollbar-track {
        background: rgba(136, 136, 136, 0.42);
    }

    /* Handle */
    .nav::-webkit-scrollbar-thumb {
        background: var(--colorWhite);
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        align-items: flex-start;
        flex-direction: column;
        height: 100vh;
        justify-content: start;
        left: -100%;
        line-height: 50px;
        padding: 25px 25px 20px;
        position: fixed;
        text-align: left;
        top: 0;
        transition: .5s ease;
        width: 300px;
        z-index: 999;
        background-color: rgba(6, 32, 42, 0.5);
        backdrop-filter: blur(15px);
    }

    .burger {
        display: block;
    }

    .closeNav {
        display: block;
    }

    .headerItem {
        text-align: left;
    }

    .navbar .active {
        text-align: left;
        display: flex;
        align-items: center;
    }

    .navbar .active p {
        padding-top: 0;
        padding-left: 10px;
        display: inline;
        position: relative;
        top: -6px;
    }

    .headerItem {
        display: flex;
        align-items: center;
    }

    .headerItem p {
        padding-top: 0;
        padding-left: 10px;
        position: relative;
        top: -6px;
    }
}

@media screen and (max-width: 375px) {
    .navbar {
        width: 100%;
    }
}


.poster {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.posterCard {
    max-width: 360px;
    margin: 30px 10px;
    color: white;
    transition: 0.3s ease;
}

.posterCard:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.cardHeader img {
    max-width: 100%;
    height: auto;
}

.cardBody .title {
    padding: 10px 0;
}

.cardBody p {
    font-size: 15px;
}

.cardBody h4 {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.likeIcon {
    position: relative;
    top: 2px;
}

.likeIcon i {
    font-size: 20px;
    padding-left: 10px;
}

@media screen and (max-width: 1179px) {
    .poster{
        justify-content: space-around;
    }
}

@media screen and (max-width: 799px) {
    .posterCard{
        max-width: 100%;
    }
}

.footer {
    width: 100%;
    background-color: var(--colorWhite);
    height: 100px;
}

.footer > div {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.footer h1{
    font-size: 20px;
    color: #06202A;
}

.footer h1 a{
    color: #06202A;
}

.footer h1 a:hover{
    text-decoration: underline;
}